@page
@model FamilyPromiseApp.Pages.Persons.CreateModel
@using FamilyPromiseApp.Models

 
 @* Initial Contact Form *@

@{
    ViewData["Title"] = "Create";
}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 
<h4>Client Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.LastName" class="control-label"></label>
                <input asp-for="Person.LastName" class="form-control" />
                <span asp-validation-for="Person.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.FirstMidName" class="control-label"></label>
                <input asp-for="Person.FirstMidName" class="form-control" />
                <span asp-validation-for="Person.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
    <label asp-for="Person.Age" class="control-label"></label>
    <input asp-for="Person.Age" class="form-control" type="number" value="30" />
    <span asp-validation-for="Person.Age" class="text-danger"></span>
</div>

            @{
    var defaultDateOfBirth = DateTime.Today.AddYears(-30).ToString("yyyy-MM-dd");
}

<div class="form-group">
    <label asp-for="Person.DateOfBirth" class="control-label"></label>
    <input asp-for="Person.DateOfBirth" class="form-control" type="date" value="@defaultDateOfBirth" />
    <span asp-validation-for="Person.DateOfBirth" class="text-danger"></span>
</div>
            <div class="form-group">
    <label asp-for="Person.CellPhone" class="control-label"></label>
    <input asp-for="Person.CellPhone" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="###-###-####" required />
    <span asp-validation-for="Person.CellPhone" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Person.WorkPhone" class="control-label"></label>
    <input asp-for="Person.WorkPhone" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="###-###-####" required />
    <span asp-validation-for="Person.WorkPhone" class="text-danger"></span>
</div>

            <div class="form-group">
                <label asp-for="Person.Email" class="control-label"></label>
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
            </div>
             <div class="col-md-12">
                <h4>Additional Adults Information</h4>
                <hr />
            </div>
            <div class="form-group">
                <label asp-for="Person.HouseHoldMemberExist" class="control-label"></label>
                    @Html.DropDownListFor(model => model.Person.HouseHoldMemberExist,
                          new SelectList(Enum.GetValues(typeof(Models.AnyHouseHold))),
                          "Select Yes or No",
                          new { @class = "form-select", id = "houseHoldMemberExistDropdown" })
                <span asp-validation-for="Person.HouseHoldMemberExist" class="text-danger"></span>
            </div>
 
            <div class="form-group houseHoldSection" id="houseHoldNum">
                <label asp-for="Person.HouseHoldNum" class="control-label"></label>
                <input asp-for="Person.HouseHoldNum" class="form-control" type="number" min="1" oninput="validity.valid||(value='1');" />
                <span asp-validation-for="Person.HouseHoldNum" class="text-danger"></span>
            </div>
            <div class="form-group houseHoldSection">
                <label asp-for="Person.AdultName" class="control-label"></label>
                <input asp-for="Person.AdultName" class="form-control" />
                <span asp-validation-for="Person.AdultName" class="text-danger"></span>
            </div>
            <div class="form-group houseHoldSection">
                <label asp-for="Person.AdultAge" class="control-label"></label>
                <input asp-for="Person.AdultAge" class="form-control" value="30" />
                <span asp-validation-for="Person.AdultAge" class="text-danger"></span>
            </div>
 
            <div class="form-group houseHoldSection">
                <label asp-for="Person.AdultDateOfBirth" class="control-label"></label>
                <input asp-for="Person.AdultDateOfBirth" class="form-control" value="@defaultDateOfBirth"/>
                <span asp-validation-for="Person.AdultDateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group houseHoldSection">
                <label asp-for="Person.AdultCellPhone" class="control-label"></label>
                <input asp-for="Person.AdultCellPhone" class="form-control" />
                <span asp-validation-for="Person.AdultCellPhone" class="text-danger"></span>
            </div>
             <div class="form-group houseHoldSection">
                <label asp-for="Person.AdultWorkPhone" class="control-label"></label>
                <input asp-for="Person.AdultWorkPhone" class="form-control" />
                <span asp-validation-for="Person.AdultWorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group houseHoldSection">
                <label asp-for="Person.AdultEmail" class="control-label"></label>
                <input asp-for="Person.AdultEmail" class="form-control" />
                <span asp-validation-for="Person.AdultEmail" class="text-danger"></span>
            </div>
            <!-- Placeholder div for autogenerated sections-->
            <div id="additionalAdults"></div>
             <div class="col-md-12">
            <h4>Children Information</h4>
            <hr />
            </div>
            <div class="form-group">
                <label asp-for="Person.HouseHoldChildrenExist" class="control-label"></label>
                @Html.DropDownListFor(model => model.Person.HouseHoldChildrenExist,
                                      new SelectList(Enum.GetValues(typeof(Models.AnyChildren))),
                                      "Select Yes or No",
                                      new { @class = "form-select", id = "childExistDropdown"})
                <span asp-validation-for="Person.HouseHoldChildrenExist" class="text-danger"></span>
            </div>
            <div class="form-group childSection" id="numChild">
                <label asp-for="Person.ChildNum" class="control-label"></label>
                <input asp-for="Person.ChildNum" class="form-control" type="number" min="1" oninput="validity.valid||(value='1');" />
                <span asp-validation-for="Person.ChildNum" class="text-danger"></span>
            </div>
            <div class="form-group childSection">
                <label asp-for="Person.ChildName" class="control-label"></label>
                <input asp-for="Person.ChildName" class="form-control" />
                <span asp-validation-for="Person.ChildName" class="text-danger"></span>
            </div>
             @{
    var defaultChildDateOfBirth = DateTime.Today.AddYears(-10).ToString("yyyy-MM-dd");
}

<div class="form-group childSection">
    <label asp-for="Person.ChildDateOfBirth" class="control-label"></label>
    <input asp-for="Person.ChildDateOfBirth" class="form-control" type="date" value="@defaultChildDateOfBirth" />
    <span asp-validation-for="Person.ChildDateOfBirth" class="text-danger"></span>
</div>

            <div class="form-group childSection">
                <label asp-for="Person.ChildAge" class="control-label"></label>
                <input asp-for="Person.ChildAge" class="form-control" value="10"/>
                <span asp-validation-for="Person.ChildAge" class="text-danger"></span>
            </div>

            <!-- Placeholder div for autogenerated sections-->
            <div id="additionalChildren"></div>
 
            <div class="col-md-12">
            <h4>Case Information</h4>
            <hr />
            </div>
             <div class="form-group">
                <label asp-for="Case.Date" class="control-label"></label>
                <input asp-for="Case.Date" class="form-control" />
                <span asp-validation-for="Case.Date" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.Time" class="control-label"></label>
                <input asp-for="Case.Time" class="form-control" />
                <span asp-validation-for="Case.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Case.TakenBy" class="control-label"></label>
                <input asp-for="Case.TakenBy" class="form-control" />
                <span asp-validation-for="Case.TakenBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Case.ReferringAgency" class="control-label"></label>
                <input asp-for="Case.ReferringAgency" class="form-control" />
                <span asp-validation-for="Case.ReferringAgency" class="text-danger"></span>
            </div>
 
            <div class="col-md-12">
                <h4>Current Living Situation</h4>
                <hr />
            </div>
             <div class="form-group">
                <label asp-for="Case.CurrentSituation" class="control-label"></label>
                <input asp-for="Case.CurrentSituation" class="form-control" />
                <span asp-validation-for="Case.CurrentSituation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Case.IsHoused" class="control-label"></label>
                <input asp-for="Case.IsHoused" class="form-control" />
                <span asp-validation-for="Case.IsHoused" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.IsEmployed" class="control-label"></label>
                <select asp-for="Case.IsEmployed" class="form-control">
        <option value="">Select Employment Status</option>
        @foreach (Employment value in Enum.GetValues(typeof(Employment)))
        {
            <option value="@value">@Enum.GetName(typeof(Employment), value)</option>
        }
    </select>
                <span asp-validation-for="Case.IsEmployed" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.TransportMethod" class="control-label"></label>
                <input asp-for="Case.TransportMethod" class="form-control" />
                <span asp-validation-for="Case.TransportMethod" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.Substance" class="control-label"></label>
                <input asp-for="Case.Substance" class="form-control" />
                <span asp-validation-for="Case.Substance" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.HealthChallenge" class="control-label"></label>
                <input asp-for="Case.HealthChallenge" class="form-control" />
                <span asp-validation-for="Case.HealthChallenge" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.DomesticViolenceHistory" class="control-label"></label>
                <input asp-for="Case.DomesticViolenceHistory" class="form-control" />
                <span asp-validation-for="Case.DomesticViolenceHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Referral" class="control-label">Select Referrals:</label>
                @if (Model.Person != null && Model.Person.AvailableReferrals != null)
                {
                    <select asp-for="SelectedReferralIds" class="form-control" asp-items="Model.Person.AvailableReferrals" multiple></select>
                }
                else
                {
                    <p>Error: AvailableReferrals is not properly initialized.</p>
                }
            </div>



 
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
           
        <!--Function for hiding forms if no is selected, adds new adults when needed-->
        <script>
            $(document).ready(function () {
                $("#childExistDropdown").change(function () {
                    var selectedValue = $(this).val();
                    $(".childSection").hide();

                    if (selectedValue.toLowerCase() === 'yes') {
                        $(".childSection").show();
                        $(".childSection input").prop("disabled", false);
                        $(".childSection input").prop("required", true);
                    } else {
                        $(".childSection input").prop("disabled", true);
                        $(".childSection input").prop("required", false);
                    }

                });
            });

            $(document).ready(function () {
                $("#houseHoldMemberExistDropdown").change(function () {
                var selectedValue = $(this).val();
                $(".houseHoldSection").hide();
 
            if (selectedValue.toLowerCase() === 'yes') {
                $(".houseHoldSection").show();
                $(".houseHoldSection input").prop("disabled", false);
                $(".houseHoldSection input").prop("required", true);
            } else {
                $(".houseHoldSection input").prop("disabled", true);
                $(".houseHoldSection input").prop("required", false);
            }
        });

 
            function generateAdults(numAdults) {
            document.getElementById('additionalAdults').innerHTML = '';
                console.log("Generating adults...");
                for (var i = 2; i <= numAdults; i++) {
                    var sectionHtml = `
                        <h4> Adult ${i} Information </h4>
                        <div class="form-group houseHoldSection">
                            <label asp-for="Person.AdultName" class="control-label">Adult ${i} Name:</label>
                            <input asp-for="Person.AdultName" class="form-control" />
                            <span asp-validation-for="Person.AdultName" class="text-danger"></span>
                        </div>
                        <div class="form-group houseHoldSection">
                            <label asp-for="Person.AdultAge" class="control-label">Adult ${i} Age:</label>
                            <input asp-for="Person.AdultAge" class="form-control" type="number" />
                            <span asp-validation-for="Person.AdultAge" class="text-danger"></span>
                        </div>
                         <div class="form-group houseHoldSection">
                            <label asp-for="Person.AdultDateOfBirth" class="control-label">Adult ${i} Date of Birth:</label>
                            <input asp-for="Person.AdultDateOfBirth" class="form-control" type="date"/>
                            <span asp-validation-for="Person.AdultDateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="form-group houseHoldSection">
                            <label asp-for="Person.AdultCellPhone" class="control-label">Adult ${i} Cell Phone Number:</label>
                            <input asp-for="Person.AdultCellPhone" class="form-control" />
                            <span asp-validation-for="Person.AdultCellPhone" class="text-danger"></span>
                        </div>
                        <div class="form-group houseHoldSection">
                            <label asp-for="Person.AdultWorkPhone" class="control-label">Adult ${i} Work Phone:</label>
                            <input asp-for="Person.AdultWorkPhone" class="form-control" />
                            <span asp-validation-for="Person.AdultWorkPhone" class="text-danger"></span>
                        </div>
                        <div class="form-group houseHoldSection">
                            <label asp-for="Person.AdultEmail" class="control-label">Adult ${i} Email Adress:</label>
                            <input asp-for="Person.AdultEmail" class="form-control" />
                            <span asp-validation-for="Person.AdultEmail" class="text-danger"></span>
                        </div>`;
                    console.log("I " +i);
                    console.log("Number of Adults " +numAdults);
                    document.getElementById('additionalAdults').insertAdjacentHTML('beforeend', sectionHtml);
                }
            }
 
            $('#houseHoldNum input').on('input', function () {
                var enteredNum = parseInt($(this).val(), 10) || 1;
                console.log("Entered Number: " + enteredNum);
                generateAdults(enteredNum);
            });
            generateAdults(document.querySelector('#houseHoldNum input').value);




         function generateChildren(numChild) {
            document.getElementById('additionalChildren').innerHTML = '';
                console.log("Generating children...");
                for (var i = 2; i <= numChild; i++) {
                    var sectionHtml = `
                        <h4> Child ${i} Information </h4>

                        <div class="form-group childSection">
                            <label asp-for="Person.ChildName" class="control-label">Child ${i} Name:</label>
                            <input asp-for="Person.ChildName" class="form-control" />
                            <span asp-validation-for="Person.ChildName" class="text-danger"></span>
                        </div>
                        <div class="form-group childSection">
                            <label asp-for="Person.ChildDateOfBirth" class="control-label">Child ${i} Date of Birth:</label>
                            <input asp-for="Person.ChildDateOfBirth" class="form-control" type="date"/>
                            <span asp-validation-for="Person.ChildDateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="form-group childSection">
                            <label asp-for="Person.ChildAge" class="control-label">Child ${i} Age:</label>
                            <input asp-for="Person.ChildAge" class="form-control" type="number" />
                            <span asp-validation-for="Person.ChildAge" class="text-danger"></span>
                        </div>`;
                    console.log("I " +i);
                    console.log("Number of Children " +numChild);
                    document.getElementById('additionalChildren').insertAdjacentHTML('beforeend', sectionHtml);
                }
            }
 
            $('#numChild input').on('input', function () {
                var enteredNum = parseInt($(this).val(), 10) || 1;
                console.log("Entered Number: " + enteredNum);
                generateChildren(enteredNum);
            });
            generateChildren(document.querySelector('#numChild input').value);
        });
        
        </script>
 
        </form>
    </div>
</div>
 
 
@* <div>
    <a asp-page="Index">Back to List</a>
</div> *@
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}