@page
@model FamilyPromiseApp.Pages.Persons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Person.FirstMidName) @Html.DisplayFor(model => model.Person.LastName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.CellPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.CellPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.WorkPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.WorkPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.HouseHoldNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.HouseHoldNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.ChildNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.ChildNum)
        </dd>
        @if (Model.Person.HouseHoldMemberExist.HasValue && Model.Adults.Count > 0)
        {
            // Loop through each adult in the household
            for (int i = 0; i < Model.Adults.Count; i++)
            {
                <dd>
                    @Html.DisplayNameFor(model => model.Adults[i].FirstMidName) @Html.DisplayNameFor(model => model.Adults[i].LastName)
                </dd>
                <dt>
                    @Html.DisplayFor(model => model.Adults[i].FirstMidName) @Html.DisplayFor(model => model.Adults[i].LastName)
                </dt>
            }
        }
        @if (Model.Person.HouseHoldChildrenExist.HasValue) {
            for (int i = 0; i < Model.Children.Count; i++) {
                <dd>
                    @Html.DisplayNameFor(model => model.Children[i].FirstMidName) @Html.DisplayNameFor(model => model.Children[i].LastName)
                </dd>
                <dt>
                    @Html.DisplayFor(model => model.Children[i].FirstMidName) @Html.DisplayFor(model => model.Children[i].LastName)
                </dt>
            }
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person?.ID">Edit</a> |
    <a asp-page="./Index">Back</a>
</div>

