@page
@model FamilyPromiseApp.Pages.Persons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Person.FirstMidName) @Html.DisplayFor(model => model.Person.LastName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.CellPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.CellPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.WorkPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.WorkPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.HouseHoldNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.HouseHoldNum)
        </dd>
        @if (Model.Person.HouseHoldMemberExist.HasValue) {
            // get list of household members
            // getHouseholdMembers(Model.Person);
            // 
            for (int i = 0; i < Model.Person.HouseHoldNum; i++) {
                <dd>
                    @Html.DisplayNameFor(model => model.Person.AdultName)
                </dd>
                <dt>
                    @Html.DisplayFor(model => model.Person.AdultName)
                </dt>
                            }
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person?.ID">Edit</a> |
    <a asp-page="./Index">Back</a>
</div>

