@page
@model FamilyPromiseApp.Pages.Persons.IndexModel

@{
    ViewData["Title"] = "Index";
}

 <div class="col-md-12">
    <h4>Client's Information</h4>
    <hr />
</div>

@* <p>
    <a asp-page="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].CellPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].WorkPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Person) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@* <h1>Client's Case Information</h1> *@
 <div class="col-md-12">
    <h4>Client's Case Information</h4>
    <hr />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Case[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case[0].TakenBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case[0].ReferringAgency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case[0].CurrentSituation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case[0].IsHoused)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case[0].IsEmployed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case[0].TransportMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case[0].Substance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case[0].HealthChallenge)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Case[0].DomesticViolenceHistory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Case) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakenBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferringAgency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSituation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHoused)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmployed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Substance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthChallenge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomesticViolenceHistory)
            </td>
            <td>
                <a asp-page="./EditCase" asp-route-id="@item.ID">Edit</a> 
                <a asp-page="./DetailsCase" asp-route-id="@item.ID">Details</a> 
                <a asp-page="./DeleteCase" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
