@page
@model FamilyPromiseApp.Pages.Intake.CreateModel
 
@* Intake Process Form *@

@{ 
    ViewData["Title"] = "Create";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 
<h4>Intake Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Person.DateAdmitted" class="control-label"></label>
                <input asp-for="Person.DateAdmitted" class="form-control" />
                <span asp-validation-for="Person.DateAdmitted" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Person.CompletionDate" class="control-label"></label>
                <input asp-for="Person.CompletionDate" class="form-control" />
                <span asp-validation-for="Person.CompletionDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Case.ReferringAgency" class="control-label"></label>
                <input asp-for="Case.ReferringAgency" class="form-control" />
                <span asp-validation-for="Case.ReferringAgency" class="text-danger"></span>
            </div>

            <hr />
            <h4>Adult 1</h4>
            <hr />

            <div class="form-group">
                <label asp-for="Person.LastName" class="control-label"></label>
                <input asp-for="Person.LastName" class="form-control" />
                <span asp-validation-for="Person.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.FirstMidName" class="control-label"></label>
                <input asp-for="Person.FirstMidName" class="form-control" />
                <span asp-validation-for="Person.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Age" class="control-label"></label>
                <input asp-for="Person.Age" class="form-control" />
                <span asp-validation-for="Person.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DateOfBirth" class="control-label"></label>
                <input asp-for="Person.DateOfBirth" class="form-control" />
                <span asp-validation-for="Person.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.MaritalStatus" class="control-label"></label>
                <input asp-for="Person.MaritalStatus" class="form-control" />
                <span asp-validation-for="Person.MaritalStatus" class="text-danger"></span>
            </div>
            <h4>ID Submission Here</h4>
            <div class="form-group">
                <label asp-for="Person.IDNum" class="control-label"></label>
                <input asp-for="Person.IDNum" class="form-control" />
                <span asp-validation-for="Person.IDNum" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Person.CellPhone" class="control-label"></label>
                <input asp-for="Person.CellPhone" class="form-control" />
                <span asp-validation-for="Person.CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.WorkPhone" class="control-label"></label>
                <input asp-for="Person.WorkPhone" class="form-control" />
                <span asp-validation-for="Person.WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Email" class="control-label"></label>
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Address" class="control-label"></label>
                <input asp-for="Person.Address" class="form-control" />
                <span asp-validation-for="Person.Address" class="text-danger"></span>
            </div>


             <div class="col-md-12">
                <hr />
                <h4>Additional Adult(s) Information</h4>
                <hr />
            </div>
            <div class="form-group">
                <label asp-for="Person.HouseHoldMemberExist" class="control-label"></label>
                    @Html.DropDownListFor(model => model.Person.HouseHoldMemberExist,
                          new SelectList(Enum.GetValues(typeof(Models.AnyHouseHold))),
                          "Select",
                          new { @class = "form-select", id = "houseHoldMemberExistDropdown" })
                <span asp-validation-for="Person.HouseHoldMemberExist" class="text-danger"></span>
            </div>
 
            <div class="form-group houseHoldSection" id="houseHold1">
                <label asp-for="Person.HouseHoldNum" class="control-label"></label>
                <input asp-for="Person.HouseHoldNum" class="form-control" />
                <span asp-validation-for="Person.HouseHoldNum" class="text-danger"></span>
            </div>
            <div class="form-group houseHoldSection" id="houseHold2">
                <label asp-for="Person.AdultName" class="control-label"></label>
                <input asp-for="Person.AdultName" class="form-control" />
                <span asp-validation-for="Person.AdultName" class="text-danger"></span>
            </div>
            <div class="form-group houseHoldSection" id="houseHold3">
                <label asp-for="Person.AdultAge" class="control-label"></label>
                <input asp-for="Person.AdultAge" class="form-control" />
                <span asp-validation-for="Person.AdultAge" class="text-danger"></span>
            </div>
            <div class="form-group houseHoldSection" id="houseHold4">
                <label asp-for="Person.AdultDateOfBirth" class="control-label"></label>
                <input asp-for="Person.AdultDateOfBirth" class="form-control" />
                <span asp-validation-for="Person.AdultDateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group houseHoldSection" id="houseHold1">
                <label asp-for="Person.Education" class="control-label"></label>
                <input asp-for="Person.Education" class="form-control" />
                <span asp-validation-for="Person.Education" class="text-danger"></span>
            </div>
            <div class="form-group houseHoldSection">
                <label asp-for="Person.WorkStudy" class="control-label"></label>
                @Html.DropDownListFor(model => model.Person.WorkStudy,
                                      new SelectList(Enum.GetValues(typeof(Models.WorkStudy))),
                                      "Select",
                                      new { @class = "form-select", id = "WorkStudyDropdown" })
                <span asp-validation-for="Person.WorkStudy" class="text-danger"></span>
            </div>
            
            <div class="col-md-12">
            <hr />
            <h4>Children Information</h4>
            <hr />
            </div>
            <div class="form-group">
                <label asp-for="Person.HouseHoldChildrenExist" class="control-label"></label>
                @Html.DropDownListFor(model => model.Person.HouseHoldChildrenExist,
                                      new SelectList(Enum.GetValues(typeof(Models.AnyChildren))),
                                      "Select",
                                      new { @class = "form-select", id = "childExistDropdown" })
                <span asp-validation-for="Person.HouseHoldChildrenExist" class="text-danger"></span>
            </div>
            <div class="form-group childSection" id="houseHold1">
                <label asp-for="Person.HouseHoldChildrenExist" class="control-label"></label>
                <input asp-for="Person.HouseHoldChildrenExist" class="form-control" />
                <span asp-validation-for="Person.HouseHoldChildrenExist" class="text-danger"></span>
            </div>
            <div class="form-group childSection">
                <label asp-for="Person.ChildName" class="control-label"></label>
                <input asp-for="Person.ChildName" class="form-control" />
                <span asp-validation-for="Person.ChildName" class="text-danger"></span>
            </div>
             <div class="form-group childSection">
                <label asp-for="Person.ChildDateOfBirth" class="control-label"></label>
                <input asp-for="Person.ChildDateOfBirth" class="form-control" />
                <span asp-validation-for="Person.ChildDateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group childSection">
                <label asp-for="Person.ChildAge" class="control-label"></label>
                <input asp-for="Person.ChildAge" class="form-control" />
                <span asp-validation-for="Person.ChildAge" class="text-danger"></span>
            </div>
            <div class="form-group childSection">
                <label asp-for="Person.ChildSchool" class="control-label"></label>
                <input asp-for="Person.ChildSchool" class="form-control" />
                <span asp-validation-for="Person.ChildSchool" class="text-danger"></span>
            </div>

            <div class="col-md-12">
            
            <div class="col-md-12">
                <hr />
                <h4>Previous Living Situation</h4>
                <hr />
            </div>
            
            <div class="form-group">
                <label asp-for="Person.RecentHousing" class="control-label"></label>
                @Html.DropDownListFor(model => model.Person.RecentHousing,
                                      new SelectList(Enum.GetValues(typeof(Models.RecentHousing))),
                                      "Select",
                                      new { @class = "form-select", id = "RecentHousingDropdown" })
                <span asp-validation-for="Person.RecentHousing" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Person.HouseType" class="control-label"></label>
                @Html.DropDownListFor(model => model.Person.HouseType,
                                      new SelectList(Enum.GetValues(typeof(Models.HouseType))),
                                      "Select",
                                      new { @class = "form-select", id = "HouseTypeDropdown" })
                <span asp-validation-for="Person.HouseType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Person.Reason" class="control-label"></label>
                <input asp-for="Person.Reason" class="form-control" />
                <span asp-validation-for="Person.Reason" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Case.IsHoused" class="control-label"></label>
                <input asp-for="Case.IsHoused" class="form-control" />
                <span asp-validation-for="Case.IsHoused" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.IsEmployed" class="control-label"></label>
                <input asp-for="Case.IsEmployed" class="form-control" />
                <span asp-validation-for="Case.IsEmployed" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.TransportMethod" class="control-label"></label>
                <input asp-for="Case.TransportMethod" class="form-control" />
                <span asp-validation-for="Case.TransportMethod" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.Substance" class="control-label"></label>
                <input asp-for="Case.Substance" class="form-control" />
                <span asp-validation-for="Case.Substance" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.HealthChallenge" class="control-label"></label>
                <input asp-for="Case.HealthChallenge" class="form-control" />
                <span asp-validation-for="Case.HealthChallenge" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.DomesticViolenceHistory" class="control-label"></label>
                <input asp-for="Case.DomesticViolenceHistory" class="form-control" />
                <span asp-validation-for="Case.DomesticViolenceHistory" class="text-danger"></span>
            </div>

            <hr />
            <h4>Emergency Contact</h4>
            <hr />

            <div class="form-group">
                <label asp-for="Person.LastName" class="control-label"></label>
                <input asp-for="Person.LastName" class="form-control" />
                <span asp-validation-for="Person.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.FirstMidName" class="control-label"></label>
                <input asp-for="Person.FirstMidName" class="form-control" />
                <span asp-validation-for="Person.FirstMidName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Person.CellPhone" class="control-label"></label>
                <input asp-for="Person.CellPhone" class="form-control" />
                <span asp-validation-for="Person.CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.WorkPhone" class="control-label"></label>
                <input asp-for="Person.WorkPhone" class="form-control" />
                <span asp-validation-for="Person.WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Email" class="control-label"></label>
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Relationship" class="control-label"></label>
                <input asp-for="Person.Relationship" class="form-control" />
                <span asp-validation-for="Person.Relationship" class="text-danger"></span>
            </div>

            <hr />
            <h4>Case Information</h4>
            <hr />
            </div>
             <div class="form-group">
                <label asp-for="Case.Date" class="control-label"></label>
                <input asp-for="Case.Date" class="form-control" />
                <span asp-validation-for="Case.Date" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Case.Time" class="control-label"></label>
                <input asp-for="Case.Time" class="form-control" />
                <span asp-validation-for="Case.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Case.TakenBy" class="control-label"></label>
                <input asp-for="Case.TakenBy" class="form-control" />
                <span asp-validation-for="Case.TakenBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>





           
            <!--Function for hiding forms if no is selected-->
            <script>
                $(document).ready(function () {
                    $("#houseHoldMemberExistDropdown").change(function () {
                        var selectedValue = $(this).val();
                        $(".houseHoldSection").hide();
 
                        if (selectedValue.toLowerCase() === 'yes') {
                            $(".houseHoldSection").show();
                            $(".houseHoldSection input").prop("disabled", false);
                            $(".houseHoldSection input").prop("required", true);
                        } else {
                            $(".houseHoldSection input").prop("disabled", true);
                            $(".houseHoldSection input").prop("required", false);
                        }

                    });
                });

                  $(document).ready(function () {
                    $("#childExistDropdown").change(function () {
                        var selectedValue = $(this).val();
                        $(".childSection").hide();
 
                        if (selectedValue.toLowerCase() === 'yes') {
                            $(".childSection").show();
                            $(".childSection input").prop("disabled", false);
                            $(".childSection input").prop("required", true);
                        } else {
                            $(".childSection input").prop("disabled", true);
                            $(".childSection input").prop("required", false);
                        }

                    });
                });
                
            </script>
 
        </form>
    </div>
</div>
 
 
@* <div>
    <a asp-page="Index">Back to List</a>
</div> *@
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}